/* TutorTrek */
/* CS304 Final Project Emma Howery and Wanyi Li */

h1{
  font-size: xx-large;  /* banner header is huge */
  color: #191970;
  font-weight: bold;
  text-align: center;
}
h2{
    font-size: large;  /* banner header is huge */
    color: #191970;
    font-weight: bold;
    text-align: center;
}

h3{
    font-size: x-large;  /* banner header is huge */
    color: #191970;
    font-weight: bold;
}

.menu{
  text-align: center;
  table-layout: auto;
}

legend {
	color: maroon;
  font-size: large;
}


body {
  background-color: #99ccff;
}

#container{
  margin: 70px;
  background-color: #FFF0F5;
  padding: 30px;
}